*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
}

body {
	margin: 0;
	--color-text: #000;
	--color-bg: #85827a;
	--color-link: #594343;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	--font-main: Geneva, Tahoma, Verdana, sans-serif;
	--font-alt: bigmoore, serif;
	--font-weight-alt: 400;
	--color-title: inherit;
	font-family: var(--font-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
}

.demo-1 {
	--color-title: #fff;
}

.demo-2 {
	--color-link: #fff;
	--color-bg: #a1e0e7;
	--font-alt: meno-banner, serif;
}

.demo-3 {
	--color-text: #000;
	--color-link: #fff;
	--color-bg: #d0c6ad;
	--font-alt: freight-big-pro, serif;
}

.demo-4 {
	--color-link: #eaeaef;
    --color-bg: #0859ca;
    --font-alt: bely-display, sans-serif;
    --color-title: #eaeaef;
}

.demo-5 {
	--color-link: #dc4823;
	--color-bg: #eceae9;
	--font-alt: louvette-display, serif;
	font-family: 'Barlow', sans-serif;
	text-transform: uppercase;
}

.demo-6 {
	--color-text: #fff;
	--color-link: #a17d66;
    --color-bg: #dacca9;
    --font-alt: bigmoore, serif;
}

.demo-7 {
	--color-link: #343129;
    --color-bg: #77705e;
    --font-alt: meno-banner, serif;
    --color-text: #e6ae4d;
}

.demo-8 {
	--color-text: #000;
	--color-link: #7e0c0c;
	--color-bg: #bc3d3d;
	--font-alt: freight-big-pro, serif;
	--color-title: #fff;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: inherit;
}

.frame__links {
	display: block;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin: 0 1rem 0.35rem 0;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.frame__initials {
	font-family: var(--font-alt);
	font-weight: var(--font-weight-alt);
	font-size: 2rem;
	pointer-events: none;
	line-height: 14px;
}

.content {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.content__title {
	font-size: 10vw;
	font-family: var(--font-alt);
	font-weight: var(--font-weight-alt);
	margin: 0;
	position: relative;
	pointer-events: none;
	z-index: 1000;
	color: var(--color-title);
	text-align: center;
}

.content__title--multiline {
	font-size: 8.5vw;
	line-height: 1.3;
	text-transform: none;
}

.content__title-row {
	display: block;
}

.content__title-row:first-child {
	margin-right: 22vw;
}

.content__title--up {
	text-transform: uppercase;
}

.month {
	font-weight: 700;
	font-size: 4vw;
}

.year {
	font-size: 10vw;
}

.content__drag-area {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-drag,
.img-wrap {
	flex: none;
}

@media screen and (max-width: 42em) {
	.content .img-drag,
	.content .img-wrap {
		margin: 1rem;
	}
}

@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2.5rem 4rem;
		pointer-events: none;
		grid-template-columns: 40% 20% 40%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title initials demos'
							'... ... ...'
							'... ... info';
	}
	.frame__title-wrap {
		grid-area: title;
	}
	.frame__title {
		margin: 0 0 3rem 0;
	}
	.frame__initials {
		grid-area: initials;
		margin: 0;
		justify-self: center;
	    align-self: start;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
		align-self: start;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.frame__info {
		grid-area: info;
		margin: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
}
