.img-drag {
	position: relative;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	cursor: grab;
	margin: 3rem;
}

.img-drag:nth-child(1) {
	margin-top: 20vh;
}

.img-drag:nth-child(2) {
	margin-top: 0;
}

.img-drag svg {
	display: block;
}
